<% include header %>
<div class="am-g am-g-collapse sort-list">
	<div class="am-u-sm-12 am-u-sm-centered sort-list-layer">
		<div class="am-tabs" id="sortList" data-am-tabs="{noSwipe: 1}">
			<ul class="am-tabs-nav am-nav am-nav-pills am-nav-justify first">
				<li class="am-active"><a href="javascript: void(0)">推荐文章<span>Articles</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="am-g">
	<div class="am-u-sm-12">
		<ul class="am-comments-list am-comments-list-flip">
			<li class="am-comment">
				<a href="#link-to-user-home">
					<img src="/assets/dist/images/panda.jpg" alt="" class="am-comment-avatar am-circle" width="48" height="48"/>
				</a>
				<div class="am-comment-main">
					<header class="am-comment-hd">
						<div class="am-comment-meta">
							<a href="#link-to-user" class="am-comment-author">某人</a>
							发表于
							<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12
								15:30
							</time>
						</div>
					</header>
					<div class="am-comment-bd">
						<h3 class="am-comment-title">文章标题</h3>
						<p>那，那是一封写给南部母亲的信。我茫然站在骑楼下，我又看到永远的樱子走到街心。其实雨下得并不大，却是一生一世中最大的一场雨。而那封信是这样写的，年轻的樱子知不知道呢？</p>
						<blockquote>妈：我打算在下个月和樱子结婚。</blockquote>
					</div>
					<footer class="am-comment-footer">
						<div class="am-comment-actions"><a href=""><i class="am-icon-thumbs-up"></i></a> <a href=""><i
										class="am-icon-thumbs-down"></i></a> <a href=""><i
										class="am-icon-reply"></i></a></div>
					</footer>
				</div>
			</li>
			<li class="am-comment">
				<a href="#link-to-user-home">
					<img src="/assets/dist/images/panda.jpg" alt="" class="am-comment-avatar am-circle" width="48" height="48"/>
				</a>
				<div class="am-comment-main">
					<header class="am-comment-hd">
						<div class="am-comment-meta">
							<a href="#link-to-user" class="am-comment-author">某人</a>
							发表于
							<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12
								15:30
							</time>
						</div>
					</header>
					<div class="am-comment-bd">
						<h3 class="am-comment-title">文章标题</h3>
						<p>那，那是一封写给南部母亲的信。我茫然站在骑楼下，我又看到永远的樱子走到街心。其实雨下得并不大，却是一生一世中最大的一场雨。而那封信是这样写的，年轻的樱子知不知道呢？</p>
						<blockquote>妈：我打算在下个月和樱子结婚。</blockquote>
					</div>
					<footer class="am-comment-footer">
						<div class="am-comment-actions"><a href=""><i class="am-icon-thumbs-up"></i></a> <a href=""><i
										class="am-icon-thumbs-down"></i></a> <a href=""><i
										class="am-icon-reply"></i></a></div>
					</footer>
				</div>
			</li>
			<li class="am-comment am-comment-flip">
				<a href="#link-to-user-home">
					<img src="/assets/dist/images/panda.jpg" alt="" class="am-comment-avatar am-circle" width="48" height="48"/>
				</a>
				<div class="am-comment-main">
					<header class="am-comment-hd">
						<div class="am-comment-meta">
							<a href="#link-to-user" class="am-comment-author">某人</a>
							发表于
							<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12
								15:30
							</time>
						</div>
					</header>
					<div class="am-comment-bd">
						<h3 class="am-comment-title">文章标题</h3>
						<p>那，那是一封写给南部母亲的信。我茫然站在骑楼下，我又看到永远的樱子走到街心。其实雨下得并不大，却是一生一世中最大的一场雨。而那封信是这样写的，年轻的樱子知不知道呢？</p>
						<blockquote>妈：我打算在下个月和樱子结婚。</blockquote>
					</div>
					<footer class="am-comment-footer">
						<div class="am-comment-actions"><a href=""><i class="am-icon-thumbs-up"></i></a> <a href=""><i
										class="am-icon-thumbs-down"></i></a> <a href=""><i
										class="am-icon-reply"></i></a></div>
					</footer>
				</div>
			</li>
			<li class="am-comment am-comment-highlight">
				<a href="#link-to-user-home">
					<img src="/assets/dist/images/panda.jpg" alt="" class="am-comment-avatar am-circle" width="48" height="48"/>
				</a>
				<div class="am-comment-main">
					<header class="am-comment-hd">
						<div class="am-comment-meta">
							<a href="#link-to-user" class="am-comment-author">某人</a>
							发表于
							<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12
								15:30
							</time>
						</div>
					</header>
					<div class="am-comment-bd">
						<h3 class="am-comment-title">文章标题</h3>
						<p>那，那是一封写给南部母亲的信。我茫然站在骑楼下，我又看到永远的樱子走到街心。其实雨下得并不大，却是一生一世中最大的一场雨。而那封信是这样写的，年轻的樱子知不知道呢？</p>
						<blockquote>妈：我打算在下个月和樱子结婚。</blockquote>
					</div>
					<footer class="am-comment-footer">
						<div class="am-comment-actions"><a href=""><i class="am-icon-thumbs-up"></i></a> <a href=""><i
										class="am-icon-thumbs-down"></i></a> <a href=""><i
										class="am-icon-reply"></i></a></div>
					</footer>
				</div>
			</li>
		</ul>
	</div>
</div>

<% include ../footer %>

<script>
	seajs.use(['community/index'], function (main) {
		main.init();
	})
</script>