<% include header %>
<div class="am-g am-g-collapse sort-list">
  <div class="am-u-sm-12 am-u-sm-centered sort-list-layer">
    <div class="am-tabs" id="sortList" data-am-tabs="{noSwipe: 1}">
      <ul class="am-tabs-nav am-nav am-nav-pills am-nav-justify first">
        <li class="am-active"><a href="javascript: void(0)">推荐文章<span>Articles</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="am-panel-group community-list" id="accordion">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
        7月，2016
        <i class="am-icon-angle-up am-fr arrow"></i>
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
      <div class="am-panel-bd">
        <div class="am-g">
          <div class="am-u-sm-2 text-muted time">
            <span>8</span>th
          </div>
          <div class="am-u-sm-1">
            <div class="split"></div>
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>YES越跑沙出重围演唱会</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>9</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-warning"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>APP新功能简介</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>12</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>南京站酷跑炫酷吊炸天</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
        8月，2016
        <i class="am-icon-angle-down am-fr arrow"></i>
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <div class="am-g">
          <div class="am-u-sm-2 text-muted time">
            <span>8</span>th
          </div>
          <div class="am-u-sm-1">
            <div class="split"></div>
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>YES越跑沙出重围演唱会</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>9</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-warning"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>APP新功能简介</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>12</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>南京站酷跑炫酷吊炸天</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
        9月，2016
        <i class="am-icon-angle-down am-fr arrow"></i>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <div class="am-g">
          <div class="am-u-sm-2 text-muted time">
            <span>8</span>th
          </div>
          <div class="am-u-sm-1">
            <div class="split"></div>
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>YES越跑沙出重围演唱会</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>9</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-warning"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>APP新功能简介</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
          <div class="am-u-sm-2 text-muted time">
            <span>12</span>th
          </div>
          <div class="am-u-sm-1">
            <i class="am-icon-circle text-danger"></i>
          </div>
          <div class="am-u-sm-9">
            <a href="/community/detail">
              <h2>南京站酷跑炫酷吊炸天</h2>
              <p class="text-miss">Author(Company Name)发布时间17:02:25</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../footer %>
<script>
  seajs.use(['community/list'], function (main) {
    main.init();
  })
</script>