<!--头部开始-->
<div class="am-g">
  <!--header-->
  <header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
      <a href="#left-link" class="">
        <i class="am-header-icon am-icon-shopping-cart"></i>
      </a>
    </div>
    <h1 class="am-header-title">
      <a href="#title-link" class="">
        众筹
      </a>
    </h1>
    <div class="am-header-right am-header-nav">
      <a href="/search" class="">
        <i class="am-header-icon am-icon-search"></i>
      </a>
    </div>
  </header>
</div>