<% include header %>
<style>
  .am-header-default{
    background-color: #000;
  }
</style>
<!-- banner -->
<div class="am-slider am-slider-default" data-am-flexslider id="topBanner">
  <ul class="am-slides">
    <li><img src="/assets/dist/images/index_banner.png" /></li>
    <li><img src="/assets/dist/images/index_banner.png" /></li>
  </ul>
</div>
<!-- nav -->
<div class="nav-list am-cf" id="navList">
  <div class="am-u-sm-3 am-text-center">
    <div class="dropdown">
      <button class="am-btn am-btn-primary dropdown-toggle">普通筹</button><span class="am-icon-caret-down"></span>
      <div class="dropdown-content">
        <div class="am-u-sm-3 am-text-center">
          <a href="#">介绍</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">商品种类</a>
        </div>
        <div class="am-u-sm-3 am-u-end am-text-center">
          <a href="#">游戏种类</a>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-3 am-text-center">
    <div class="dropdown">
      <button class="am-btn am-btn-primary dropdown-toggle">游戏筹</button><span class="am-icon-caret-down"></span>
      <div class="dropdown-content">
        <div class="am-u-sm-3 am-text-center">
          <a href="#">介绍</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">商品种类</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-3 am-text-center">
    <div class="dropdown">
      <button class="am-btn am-btn-primary dropdown-toggle">PK筹</button><span class="am-icon-caret-down"></span>
      <div class="dropdown-content">
        <div class="am-u-sm-3 am-text-center">
          <a href="#">介绍3</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">商品种类</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类2</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-3 am-text-center">
    <div class="dropdown">
      <button class="am-btn am-btn-primary dropdown-toggle">直购</button><span class="am-icon-caret-down"></span>
      <div class="dropdown-content">
        <div class="am-u-sm-3 am-text-center">
          <a href="#">介绍3</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">商品种类1</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类</a>
        </div>
        <div class="am-u-sm-3 am-text-center">
          <a href="#">游戏种类2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="second-nav" id="secondNav">
    <!-- 二级菜单 -->
  </div>
</div>
<!--推荐开始-->
<div class="am-container title-layer recommend">
  <div class="am-u-sm-1 am-text-middle circle">
    <i class="am-icon-circle text-info"></i>
  </div>
  <div class="am-u-sm-11 banner">
    <div class="am-slider am-slider-default" data-am-flexslider="{directionNav: false,controlNav:false}" id="recommendBanner">
      <ul class="am-slides">
        <li><img src="/assets/dist/images/recommend_banner.png" /></li>
      </ul>
    </div>
  </div>
</div>
<!--热门游戏-->
<div class="am-container title-layer game">
  <div class="am-u-sm-1 am-text-middle circle">
    <i class="am-icon-circle text-warning"></i>
  </div>
  <div class="am-u-sm-11 banner">
    <h1>热门游戏</h1>
  </div>
</div>
<!--游戏列表-->
<div class="am-g">
  <div class="am-u-sm-11 am-u-sm-offset-1">
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-4 am-gallery-default am-text-left game-list" data-am-gallery="{ pureview: true }" >
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game1.png"  alt="僵尸植物"/>
            <h3 class="am-gallery-title">僵尸植物</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game2.png"  alt="萝卜保卫"/>
            <h3 class="am-gallery-title">萝卜保卫</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game1.png"  alt="僵尸植物"/>
            <h3 class="am-gallery-title">僵尸植物</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game2.png"  alt="萝卜保卫"/>
            <h3 class="am-gallery-title">萝卜保卫</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game1.png"  alt="僵尸植物"/>
            <h3 class="am-gallery-title">僵尸植物</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game2.png"  alt="萝卜保卫"/>
            <h3 class="am-gallery-title">萝卜保卫</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/goods/chooseGoods" class="">
            <img src="/assets/dist/images/game1.png"  alt="僵尸植物"/>
            <h3 class="am-gallery-title">僵尸植物</h3>
          </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
          <a href="/assets/dist/images/recommend_banner.png" class="">
            <img src="/assets/dist/images/game2.png"  alt="萝卜保卫"/>
            <h3 class="am-gallery-title">萝卜保卫</h3>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<% include footer %>

<script>
  seajs.use(['jquery','home/index'],function($,main){
    main.init();
  })
</script>