<div class="userLeft indLeft">
  <div class="userLeftMenu">
    <div class="userLeftList indLeftList">
      <div class="indLeftFunds"><img src="/static/dist/images/icon/indFunds.png" class="vm" /> 资金管理</div>
      <dl>
          <dd><a href="/recharge/rechargeFirst.htm">充值</a></dd>
          <dd><a href="/withdraw/withdrawFirst.htm">提现</a></dd>
          <dd><a href="/transfer/transferFirst.htm">转账</a></dd>
      </dl>
      <div class="cl"></div>
    </div>
    <div class="userLeftList indLeftList">
      <div class="indLeftTransaction"><img src="/static/dist/images/icon/indTransaction.png" class="vm" />交易查询</div>
      <dl>
        <dd><a href="/tradeQuery/tradeRedord.htm">交易记录</a></dd>
        <dd><a href="/tradeQuery/incomeStatement.htm">收支明细</a></dd>
        <dd><a href="/tradeQuery/withdrawRecord.htm">提现记录</a></dd>
        <dd><a href="/tradeQuery/rechargeRecord.htm">充值记录</a></dd>
      </dl>
      <div class="cl"></div>
    </div>
    <div class="userLeftList indLeftList">
      <div class="indLeftAccounts"><img src="/static/dist/images/icon/indAccounts.png" class="vm" />账户管理</div>
      <dl>
        <dd><a href="/person/account/queryAccountInfo.htm">账户信息</a></dd>
        <dd><a href="/realInfo/realInfoStep0.htm">实名认证</a></dd>
        <dd><a href="/SecurityCenter/modifyMobile.htm?temp=1">手机绑定</a></dd>
      </dl>
      <div class="cl"></div>
    </div>
    <div class="userLeftList indLeftList">
      <div class="indLeftAssets"><img src="/static/dist/images/icon/indAssets.png" class="vm" />账户资产</div>
      <dl>
        <dd><a href="/person/account/queryMyBank.htm">银行卡</a></dd>
      </dl>
      <div class="cl"></div>
    </div>
    <div class="userLeftList indLeftList">
      <div class="indLeftSafety"><img src="/static/dist/images/icon/indSafety.png" class="vm" />安全中心</div>
      <dl>
        <dd><a href="/SecurityCenter/getMyLoginSecurity.htm">安全策略</a></dd>
        <dd><a href="/SecurityCenter/editQuestion.htm">安全问题修改</a></dd>
      </dl>
      <div class="cl"></div>
    </div>
  </div>

  <!--  左侧常见问题   -->
  <div class="userLeftQuestions indQuestions">
    <div class="indLeftQuestions"><img src="/static/dist/images/icon/indQuestion.png" class="vm" />常见问题</div>
    <ul id="topList" style="display: none;">
      <li><a href="/help/detail.htm?id=008">实名认证流程</a></li>
      <li><a href="/help/detail.htm?id=023">充值流程 </a></li>
      <li><a href="/help/detail.htm?id=032">转账流程</a></li>
      <li><a href="/help/detail.htm?id=028">提现流程</a></li>
      <li><a href="/help/list.htm?title=支付密码">支付密码</a></li>
      <li><a target="_blank" href="/etp/account/protocol.htm">康美钱包相关协议</a></li>
    </ul>
  </div>
</div>