<link rel="stylesheet" href="/assets/dist/css/user.css">
<!--头部开始-->
<div class="am-g  goods-header">
    <!--header-->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)" class="">
                <i class="am-header-icon am-icon-angle-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">
                <%=title.substring(title.indexOf('-')+1,title.length)%>
            </a>
        </h1>
    </header>
</div>
<div class="my-bid">
        <ul class="am-avg-sm-5 am-padding-vertical-sm am-text-center nav">
            <li>
                <a class="am-badge am-badge-primary am-round" href="#">全部</a>
            </li>
            <li>
                <a href="#">
                    众筹中
                </a>
            </li>
            <li>
                <a href="#">
                    待开奖
                </a>
            </li>
            <li>
                <a href="#">
                    已开奖
                </a>
            </li>
            <li>
                <a href="#">
                    众筹失败
                </a>
            </li>
        </ul>
        <div class="am-container">
            <ul class="am-list">
                <li>
                    <div class="am-g am-g-collapse display-table">
                        <div class="am-u-sm-4 display-table-cell am-text-middle">
                            <i class="am-icon-circle am-text-middle text-info"></i>
                            <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                        </div>
                        <div class="am-u-sm-7 am-text-bottom display-table-cell">
                            <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                            <div class="am-progress">
                                <div class="am-progress-bar" style="width: 40%">40%</div>
                            </div>
                            <p class="text-miss">2015-08-06</p>
                        </div>
                        <div class="am-u-sm-1 display-table-cell am-text-bottom">
                            <span class="am-badge am-badge-primary am-round">进行中</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-g am-g-collapse display-table">
                        <div class="am-u-sm-4 display-table-cell am-text-middle">
                            <i class="am-icon-circle am-text-middle text-info"></i>
                            <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                        </div>
                        <div class="am-u-sm-7 am-text-bottom display-table-cell">
                            <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                            <p>揭晓倒计时:<span class="text-info count-down">00:23:25:30</span></p>
                            <p class="text-miss">2015-08-06</p>
                        </div>
                        <div class="am-u-sm-1 display-table-cell am-text-bottom">
                            <span class="am-badge am-badge-primary am-round">进行中</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-g am-g-collapse display-table">
                        <div class="am-u-sm-4 display-table-cell am-text-middle">
                            <i class="am-icon-circle am-text-middle text-info"></i>
                            <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                        </div>
                        <div class="am-u-sm-7 am-text-bottom display-table-cell">
                            <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                            <p>揭晓倒计时:<span class="text-info count-down">02:13:35:30</span></p>
                            <p class="text-miss">2015-08-16</p>
                        </div>
                        <div class="am-u-sm-1 display-table-cell am-text-bottom">
                            <span class="am-badge am-badge-primary am-round">进行中</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-g am-g-collapse display-table">
                        <div class="am-u-sm-4 display-table-cell am-text-middle">
                            <i class="am-icon-circle am-text-middle text-info"></i>
                            <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                        </div>
                        <div class="am-u-sm-7 am-text-bottom display-table-cell">
                            <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                            <p class="text-miss">2015-08-06</p>
                        </div>
                        <div class="am-u-sm-1 display-table-cell am-text-bottom">
                            <span class="am-badge am-badge-primary am-round">进行中</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-g am-g-collapse display-table">
                        <div class="am-u-sm-4 display-table-cell am-text-middle">
                            <i class="am-icon-circle am-text-middle text-danger"></i>
                            <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                        </div>
                        <div class="am-u-sm-7 am-text-bottom display-table-cell">
                            <h3>众筹商品<span class="text-danger border-danger">游戏筹</span></h3>
                            <div class="am-progress">
                                <div class="am-progress-bar am-progress-bar-danger" style="width: 70%">70%</div>
                            </div>
                            <p class="text-miss">2015-08-06</p>
                        </div>
                        <div class="am-u-sm-1 display-table-cell am-text-bottom">
                            <span class="am-badge am-badge-danger am-round">进行中</span>
                        </div>
                    </div>
                </li>
            </ul>
            <!--没有投标-->
            <div class="am-g">
                <div class="am-u-sm-6 am-u-sm-centered am-margin-top-lg">
                    <img class="am-img-responsive" src="/assets/dist/images/order_empty.png" alt="logo" />
                </div>
                <p class="am-text-center text-miss">列表为空，快来投标吧</p>
                <div class="am-u-sm-10 am-u-sm-centered am-margin-bottom-sm">
                    <a href="/sort/index" class="am-btn am-btn-primary am-btn-block am-round">投标</a>
                </div>
            </div>
        </div>
</div>
<% include footer %>
<script>
    seajs.use(['users/myBid', 'tools'], function (main, tools) {
        main.init();
        tools.timer('.count-down');
    })
</script>