<link rel="stylesheet" href="/assets/dist/css/user.css">
<!--头部开始-->
<div class="am-g  goods-header">
  <!--header-->
  <header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
      <a href="javascript:history.go(-1)" class="">
        <i class="am-header-icon am-icon-angle-left"></i>
      </a>
    </div>
    <h1 class="am-header-title">
      <a href="#title-link" class="">
        <%=title.substring(title.indexOf('-')+1,title.length)%>
      </a>
    </h1>
  </header>
</div>
<div class="my-bid my-collection">
  <div class="am-tabs" id="collectionTabs">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
      <li class="am-active"><a href="javascript:;;">商品</a></li>
      <li><a href="javascript:;;">商品筹</a></li>
      <li><a href="javascript:;;">帖子</a></li>
    </ul>
    <div class="am-tabs-bd">
      <div class="am-tab-panel am-active">
        <div class="am-container">
          <ul class="am-list">
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-8 am-text-bottom display-table-cell">
                  <h3>众筹商品</h3>
                  <p><i class="icon icon-z-gold-sm am-text-middle"></i><span class="text-miss am-text-middle">众筹价:6666.66元</span></p>
                  <p class="cls">
                    <a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
                    <a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
                    <a href="/goods/directBuy" class="text-warning border-warning">直购</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-8 am-text-bottom display-table-cell">
                  <h3>众筹商品</h3>
                  <p><i class="icon icon-z-gold-sm am-text-middle"></i><span class="text-miss am-text-middle">众筹价:6666.66元</span></p>
                  <p class="cls">
                    <a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
                    <a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
                    <a href="/goods/directBuy" class="text-warning border-warning">直购</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-8 am-text-bottom display-table-cell">
                  <h3>众筹商品</h3>
                  <p><i class="icon icon-z-gold-sm am-text-middle"></i><span class="text-miss am-text-middle">众筹价:6666.66元</span></p>
                  <p class="cls">
                    <a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
                    <a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
                    <a href="/goods/directBuy" class="text-warning border-warning">直购</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-8 am-text-bottom display-table-cell">
                  <h3>众筹商品</h3>
                  <p><i class="icon icon-z-gold-sm am-text-middle"></i><span class="text-miss am-text-middle">众筹价:6666.66元</span></p>
                  <p class="cls">
                    <a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
                    <a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
                    <a href="/goods/directBuy" class="text-warning border-warning">直购</a>
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-8 am-text-bottom display-table-cell">
                  <h3>众筹商品</h3>
                  <p><i class="icon icon-z-gold-sm am-text-middle"></i><span class="text-miss am-text-middle">众筹价:6666.66元</span></p>
                  <p class="cls">
                    <a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
                    <a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
                    <a href="/goods/directBuy" class="text-warning border-warning">直购</a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="am-tab-panel">
        <div class="am-container">
          <ul class="am-list">
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-7 am-text-bottom display-table-cell">
                  <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                  <div class="am-progress">
                    <div class="am-progress-bar" style="width: 40%">40%</div>
                  </div>
                  <p class="text-miss">2015-08-06</p>
                </div>
                <div class="am-u-sm-1 display-table-cell am-text-bottom">
                  <span class="am-badge am-badge-primary am-round">进行中</span>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-7 am-text-bottom display-table-cell">
                  <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                  <p>揭晓倒计时:<span class="text-info count-down">00:23:25:30</span></p>
                  <p class="text-miss">2015-08-06</p>
                </div>
                <div class="am-u-sm-1 display-table-cell am-text-bottom">
                  <span class="am-badge am-badge-primary am-round">进行中</span>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-7 am-text-bottom display-table-cell">
                  <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                  <p>揭晓倒计时:<span class="text-info count-down">02:13:35:30</span></p>
                  <p class="text-miss">2015-08-16</p>
                </div>
                <div class="am-u-sm-1 display-table-cell am-text-bottom">
                  <span class="am-badge am-badge-primary am-round">进行中</span>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-info"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-7 am-text-bottom display-table-cell">
                  <h3>众筹商品<span class="text-info border-info">普通筹</span></h3>
                  <p class="text-miss">2015-08-06</p>
                </div>
                <div class="am-u-sm-1 display-table-cell am-text-bottom">
                  <span class="am-badge am-badge-primary am-round">进行中</span>
                </div>
              </div>
            </li>
            <li>
              <div class="am-g am-g-collapse display-table">
                <div class="am-u-sm-4 display-table-cell am-text-middle">
                  <i class="am-icon-circle am-text-middle text-danger"></i>
                  <img class="" src="/assets/dist/images/goods_pic01.png" alt="user" />
                </div>
                <div class="am-u-sm-7 am-text-bottom display-table-cell">
                  <h3>众筹商品<span class="text-danger border-danger">游戏筹</span></h3>
                  <div class="am-progress">
                    <div class="am-progress-bar am-progress-bar-danger" style="width: 70%">70%</div>
                  </div>
                  <p class="text-miss">2015-08-06</p>
                </div>
                <div class="am-u-sm-1 display-table-cell am-text-bottom">
                  <span class="am-badge am-badge-danger am-round">进行中</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="am-tab-panel">
          dddddddd
      </div>
    </div>
  </div>
</div>
<% include footer %>
<script>
  seajs.use(['users/myCollection', 'tools'], function (main, tools) {
    main.init();
    tools.timer('.count-down');
  })
</script>