<% include header %>
<div class="am-g choose-game-info choose-goods-info">
    <div class="am-u-sm-2">
        <img class="am-radius" src="/assets/dist/images/game1.png" alt="info" />
    </div>
    <div class="am-u-sm-10">
        <h3>愤怒的小鸡</h3>
        <p class="text-danger">
            <i class="am-icon-fire"></i>2373333
        </p>
    </div>
</div>
<div class="goods-title">
    <div class="am-u-sm-12">
        <h4 class="text-miss">可选择的商品</h4>
    </div>
</div>
<ul class="am-list am-list-static  choose-goods-list">
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="am-g am-g-collapse choose-game-info">
                <div class="am-u-sm-5">
                    <i class="am-icon-circle am-text-middle text-info"></i>
                    <img class="am-img-thumbnail am-radius" src="/assets/dist/images/goods_pic01.png" alt="info" />
                </div>
                <div class="am-u-sm-7">
                    <h3>商品名称</h3>
                    <p>
                        <i class="icon icon-z-gold-sm am-text-middle"></i>
                        <span class="text-miss am-text-middle">众筹价:6666.66元</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
</ul>
<% include footer %>
<script>
    seajs.use(['goods/chooseGame', 'tools'], function (main, tools) {
        main.init();
        tools.inputValueClear('input');
    })
</script>