<% include header %>
<div class="good-banner">
	<img class="am-img-responsive" src="/assets/dist/images/goods_banner01.png" alt="banner"/>

</div>
<div class="goods-detail">
	<div class="am-u-sm-12 am-u-sm-centered">
		<div class="am-u-sm-12">
			<h2>ReMAX智能扩容充电宝</h2>
		</div>
		<div class="am-g am-text-center detail-info-list">
			<div class="am-u-sm-3">
				<i class="icon icon-c-gold"></i>
				<p class="text-miss">众筹价(元)</p>
				<p class="num">518</p>
			</div>
			<div class="am-u-sm-3">
				<i class="icon icon-z-gold"></i>
				<p class="text-miss">直购价(元)</p>
				<p class="num">999</p>
			</div>
			<div class="am-u-sm-3 am-u-end">
				<i class="icon icon-goods-amount"></i>
				<p class="text-miss">库存量</p>
				<p class="num">11</p>
			</div>
		</div>
		<!--分割线-->
		<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed border-info"/>
		<div class="am-g goods-class">
			<div class="am-u-sm-3">
				<a href="/goods/orderDetail" class="text-info border-info">普通筹</a>
			</div>
			<div class="am-u-sm-3">
				<a href="/goods/chooseGoods" class="text-danger border-danger">游戏筹</a>
			</div>
			<div class="am-u-sm-3">
				<a href="javascript:;;" class="text-warning border-warning">PK筹</a>
			</div>
			<div class="am-u-sm-3">
				<a href="/goods/directBuy" class="text-info border-info">直购</a>
			</div>
		</div>
	</div>
</div>
<!--说明-->
<div class="am-tabs goods-detail-tabs" id="explainTabs">
	<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
		<li class="am-active"><a href="">物品详情</a></li>
		<li><a href="">相关信息</a></li>
	</ul>
	<div class="am-tabs-bd">
		<div class="am-tab-panel am-active" style="padding: 15px">
			<img class="am-img-responsive" src="/assets/dist/images/index_banner.png" alt="banner"/>
			<p>产品介绍:</p>
			<p>3123231333333333333333</p>
		</div>
		<div class="am-tab-panel">
			<ul class="am-list am-list-static">
				<li>
					<div class="am-g">
						<div class="am-u-sm-4">
							印花主题
						</div>
						<div class="am-u-sm-8">
							品牌logo
						</div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            厚薄
                        </div>
                        <div class="am-u-sm-8">
                            常规
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            品牌类型
                        </div>
                        <div class="am-u-sm-8">
                            国家大厂
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            印花主题
                        </div>
                        <div class="am-u-sm-8">
                            品牌logo
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            厚薄
                        </div>
                        <div class="am-u-sm-8">
                            常规
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            品牌类型
                        </div>
                        <div class="am-u-sm-8">
                            国家大厂
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            印花主题
                        </div>
                        <div class="am-u-sm-8">
                            品牌logo
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            厚薄
                        </div>
                        <div class="am-u-sm-8">
                            常规
                        </div>
					</div>
				</li>
				<li>
					<div class="am-g">
                        <div class="am-u-sm-4">
                            品牌类型
                        </div>
                        <div class="am-u-sm-8">
                            国家大厂
                        </div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--底部-->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default goods-detail-footer" id="">
	<ul class="am-navbar-nav am-cf am-avg-sm-3">
		<li >
			<a href="#" class="">
				<span class="am-icon-star-o"></span>
			</a>
		</li>
		<li>
			<a href="javascript:;;" id="chooseGoodsBtn" class="am-btn am-btn-primary am-btn-sm am-vertical-align-middle submit">获取商品</a>
		</li>
		<li data-am-navbar-share>
			<a href="#" class="">
				<span class="am-icon-share-square-o"></span>
			</a>
		</li>
	</ul>
</div>
<!-- modal -->
<div class="am-modal-actions choose-goods-modal" id="chooseGoodsModal">
	<div class="am-modal-actions-group">
		<ul class="am-list">
			<li>
				<a href="/goods/orderDetail">普通筹</a>
			</li>
			<li>
				<a href="/goods/chooseGoods">游戏筹</a>
			</li>
			<li>
				<a href="/goods/directBuy">直购</a>
			</li>
		</ul>
	</div>
	<div class="am-modal-actions-group">
		<button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
	</div>
</div>
<% include footer %>
<script>
	seajs.use(['goods/detail', 'tools'], function (main, tools) {
		main.init();
		tools.inputValueClear('input');
	})
</script>