<link rel="stylesheet" href="/assets/dist/css/goods.css">
<!--头部开始-->
<div class="am-g goods-header">
    <!--header-->
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)" class="">
                <i class="am-header-icon am-icon-angle-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">
                <%=title.substring(title.indexOf('-')+1,title.length)%>
            </a>
        </h1>
    </header>
</div>