<link rel="stylesheet" href="/assets/dist/css/goods.css">
<!--头部开始-->
<div class="am-g account-header">
  <!--header-->
  <header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
      <a href="javascript:history.go(-1)" class="">
        <i class="am-header-icon am-icon-angle-left"></i>
      </a>
    </div>
    <h1 class="am-header-title">
      <a href="#title-link" class="">
        <%=title.substring(title.indexOf('-')+1,title.length)%>
      </a>
    </h1>
  </header>
</div>
<div class="am-container lucky-detail">
  <p class="title">
    <i class="am-icon-circle text-info"></i>
    计算公式
  </p>
  <div class="panel display-table">
      <div class="display-table-cell am-u-sm-7 am-text-middle am-text-center">
        数值A+数值B
        <hr/>
        参与人员
      </div>
      <div class="am-u-sm-1 display-table-cell am-text-middle">=</div>
      <div class="display-table-cell am-u-sm-4 am-text-middle">
        幸运数字
      </div>
  </div>
  <p class="title">
    <i class="am-icon-circle text-info"></i>
    数值A
  </p>
  <div class="panel">
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
  </div>
  <p class="title">
    <i class="am-icon-circle text-info"></i>
    数值B
  </p>
  <div class="panel">
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
    说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
  </div>
</div>