<link rel="stylesheet" href="/assets/dist/css/goods.css">
<!--头部开始-->
<div class="am-g goods-header">
    <!--header-->
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)" class="">
                <i class="am-header-icon am-icon-angle-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">
                <%=title.substring(title.indexOf('-')+1,title.length)%>
            </a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="">
                <span class="am-header-nav-title">
                    往期中奖
                </span>
            </a>
        </div>
    </header>
</div>
<!--内容开始-->
<div class="good-banner">
	<img class="am-img-responsive" src="/assets/dist/images/goods_banner01.png" alt="banner"/>
</div>
<div class="goods-detail goods-order-detail">
	<div class="am-u-sm-12 am-u-sm-centered">
		<div class="am-u-sm-12">
			<h2>ReMAX智能扩容充电宝</h2><a href="javascript:;;" class="am-inline-block text-info border-info name">进行中</a>
		</div>
        <div class="am-u-sm-12" id="progressContainer">
                
        </div>
		<div class="am-g am-g-collapse am-text-center detail-info-list">
            <div class="am-u-sm-3">
                <i class="icon icon-pro-gold"></i>
                <p class="text-miss">筹集进度</p>
                <p class="num">518</p>
            </div>
			<div class="am-u-sm-3">
				<i class="icon icon-c-gold"></i>
				<p class="text-miss">众筹价(元)</p>
				<p class="num">518</p>
			</div>
			<div class="am-u-sm-3 am-u-end">
				<i class="icon icon-goods-amount"></i>
				<p class="text-miss">库存量</p>
				<p class="num">11</p>
			</div>
            <div class="am-u-sm-3">
                <i class="icon icon-m-gold"></i>
                <p class="text-miss">每标价(元)</p>
                <p class="num">999</p>
            </div>
		</div>
	</div>
</div>
<!--说明查参与记录-->
<ul class="am-list goods-order-detail-list">
    <li class="am-text-center" style="line-height:1"><a class="text-info" href="javascript:history.go(-1)">查看图文详情</a></li>
    <!--已开标-->
    <li style="line-height:2.5em" class="open">
        <div class="am-g">
            <div class="am-u-sm-7">
                <span class="am-text-middle">揭晓倒计时：</span><span class="am-text-middle count-down" id="timerTxt">02:13:35:30</span>
            </div>
            <div class="am-u-sm-5 am-text-right text-miss">
                <a class="am-badge am-badge-white am-round text-info am-text-sm" href="/goods/luckyDetail">计算详情</a>
            </div>
        </div>
    </li>
    <!--已结束-->
    <li style="line-height:2.5em" class="close">
        <div class="am-g">
            <div class="am-u-sm-7">
                幸运号码：100022
            </div>
            <div class="am-u-sm-5 am-text-right text-miss">
                <a class="am-badge am-badge-white am-round text-warning am-text-sm" href="/goods/luckyDetail">计算详情</a>
            </div>
        </div>
    </li>
    <!--中奖用户-->
    <li class="had">
        <div class="am-g display-table">
            <div class="am-u-sm-3 display-table-cell am-text-middle" style="position:relative">
                <img class="am-circle" src="/assets/dist/images/game1.png" alt="user" />
                <i class="icon icon-crown"><!--图标--></i>
            </div>
            <div class="am-u-sm-7 display-table-cell">
                <h3 class="text-warning">巅峰寂寞</h3>
                <p class="text-miss">广东省深圳市 IP:192.168.0.1</p>
                <p>2016-05-30 10:40:13</p>
            </div>
            <div class="am-u-sm-2 display-table-cell am-text-middle">
                <span class="text-warning">4</span>标
            </div>
        </div>
    </li>
    <!--未开始投标-->
    <li style="line-height:2.5em;border-top:none">
        <div class="am-g">
            <div class="am-u-sm-5">
                <i class="am-icon-circle am-text-middle text-info"></i><span class="am-text-middle">本期参与记录</span>
            </div>
            <div class="am-u-sm-7 am-text-right text-miss">
                2016-05-30 10:40:13 开始
            </div>
        </div>
    </li>
    <!--参与用户-->
    <li>
        <div class="am-g display-table">
            <div class="am-u-sm-3 display-table-cell am-text-middle">
                <img class="am-circle" src="/assets/dist/images/game1.png" alt="user" />
            </div>
            <div class="am-u-sm-7 display-table-cell">
                <h3>巅峰寂寞</h3>
                <p class="text-miss">广东省深圳市 IP:192.168.0.1</p>
                <p>2016-05-30 10:40:13</p>
            </div>
            <div class="am-u-sm-2 display-table-cell am-text-middle">
                <span class="text-info">2</span>标
            </div>
        </div>
    </li>
    <li>
        <div class="am-g display-table">
            <div class="am-u-sm-3 display-table-cell am-text-middle">
                <img class="am-circle" src="/assets/dist/images/game1.png" alt="user" />
            </div>
            <div class="am-u-sm-7 display-table-cell">
                <h3>巅峰寂寞</h3>
                <p class="text-miss">广东省深圳市 IP:192.168.0.1</p>
                <p>2016-05-30 10:40:13</p>
            </div>
            <div class="am-u-sm-2 display-table-cell am-text-middle">
                <span class="text-info">4</span>标
            </div>
        </div>
    </li>
    <li>
        <div class="am-g display-table">
            <div class="am-u-sm-3 display-table-cell am-text-middle">
                <img class="am-circle" src="/assets/dist/images/game1.png" alt="user" />
            </div>
            <div class="am-u-sm-7 display-table-cell">
                <h3>巅峰寂寞</h3>
                <p class="text-miss">广东省深圳市 IP:192.168.0.1</p>
                <p>2016-05-30 10:40:13</p>
            </div>
            <div class="am-u-sm-2 display-table-cell am-text-middle">
                <span class="text-info">3</span>标
            </div>
        </div>
    </li>
</ul>
<!--底部-->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default goods-detail-footer" id="">
	<ul class="am-navbar-nav am-cf am-avg-sm-3">
		<li >
			<a href="#" class="">
				<span class="am-icon-star-o"></span>
			</a>
		</li>
		<li>
			<button id="orderCommitBtn" href="#" class="am-btn am-btn-primary am-btn-sm am-vertical-align-middle submit">投标</button>
		</li>
		<li data-am-navbar-share>
			<a href="#" class="">
				<span class="am-icon-share-square-o"></span>
			</a>
		</li>
	</ul>
</div>
<!--投标modal-->
<div class="am-modal-actions goods-order-detail-modal" id="orderModal">
    <div class="am-modal-actions-group">
        <ul class="am-list">
            <li class="am-modal-actions-header text-muted">
                请选择投标个数
                <button type="button" class="am-close" data-am-modal-close>&times;</button>
            </li>
            <li>
                <p>总价：<span class="text-info">￥<span id="amountMoneyTxt">12</span></span></p>                
                <p class="range am-center" id="rangeBoxer">
                    <input class="amount" type="text" id="comfirmAmount" name="amount" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" value="1" />
                    <a href="javascript:;;" class="am-badge am-badge-primary am-round min">-</a>
                    <a href="javascript:;;" class="am-badge am-badge-primary am-round max">+</a>
                </p>
            </li>
            <li>
                <button id="comfirmBtn" class="am-btn am-btn-block am-btn-primary am-round submit">确定</button>
            </li>
        </ul>
    </div>
</div>
<!--支付密码modal-->
<div class="am-modal-actions goods-order-pwd-modal" id="tradePwdModal">
    <div class="am-modal-actions-group">
        <ul class="am-list">
            <li class="am-modal-actions-header text-muted am-text-center am-header">
                <div class="am-header-left am-header-nav">
                    <i id="backModalBtn" class="am-header-icon am-icon-angle-left"></i>
                </div>
                <h3 class="am-header-title">
                        余额支付
                </h3>
                <div class="am-header-right am-header-nav">
                    <form action="/goods/otherPay">
                        <input id="otherPayNumTxt" type="hidden" name="num" value="1" method="post">
                        <button type="submit" class="am-fr am-padding-0">第三方支付</button>
                    </form>
                </div>
            </li>
            <li class="am-form">
                <p class="am-margin-bottom-0">支付金额：<span id="amountMoneyTxt2" class="text-info">0</span>元</p>
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-lock text-info"></i>
                    <input id="loginPwd" name="password" type="password" class="am-form-field" placeholder="请输入支付密码" required pattern="^\d{6}$">
                </div>
            </li>
            <li>
                <button id="" class="am-btn am-btn-block am-btn-primary am-round submit">确定</button>
            </li>
        </ul>
    </div>
</div>
<% include footer %>
<script>
	seajs.use(['goods/orderDetail', 'tools'], function (main, tools) {
	    main.init();
	    main.progress('0.4');
	    main.orderComfirm();
	    tools.timer('#timerTxt');
	    tools.rangeInput('12', '1', '15');
	})
</script>